{% extends 'tuestilo/base.html' %}

{% block title %}
    > Inicio de sesion
{% endblock %}

{% block styles %}
    <style>
        .login-form {
            display: flex;
            justify-items: center;
            align-items: cen;
            margin-top: 32vh;
            margin-left: 40%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="login-form">
        <form action="" method="post">
            {% csrf_token %}
            Usuario: <br><input type="text" name="username">
            <br>
            Contraseña: <br><input type="password" name="password">
            <br>
            <br><br>
            <p>No tienes una cuenta? <a href="{% url 'register' %}">registrate.</a></p>
            <br>
            <button type="submit">Iniciar sesion</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script></script>
{% endblock %}
