{% extends 'tuestilo/base.html' %}

{% block title %}
    > Inicio de sesion
{% endblock %}
    <!--  -->
{% block styles %}
    <style>
        
    </style>
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <form method="post">
            {% csrf_token %}
            <div class="login-title">
                <h1>Iniciar sesion</h1>
            </div>
            <div class="inputs">
                <div class="wave-group">
                    <input required="" type="text" class="input" name="username">
                    <span class="bar"></span>
                    <label class="label">
                      <span class="label-char" style="--index: 0">N</span>
                      <span class="label-char" style="--index: 1">o</span>
                      <span class="label-char" style="--index: 2">m</span>
                      <span class="label-char" style="--index: 4">b</span>
                      <span class="label-char" style="--index: 5">r</span>
                      <span class="label-char" style="--index: 6">e</span>
                    </label>
                </div>
            </div>
            <div class="inputs">
                <div class="wave-group">
                    <input required="" type="password" class="input" name="password">
                    <span class="bar"></span>
                    <label class="label">
                      <span class="label-char" style="--index: 0">C</span>
                      <span class="label-char" style="--index: 1">o</span>
                      <span class="label-char" style="--index: 2">n</span>
                      <span class="label-char" style="--index: 3">t</span>
                      <span class="label-char" style="--index: 4">r</span>
                      <span class="label-char" style="--index: 5">a</span>
                      <span class="label-char" style="--index: 6">s</span>
                      <span class="label-char" style="--index: 7">e</span>
                      <span class="label-char" style="--index: 8">ñ</span>
                      <span class="label-char" style="--index: 9">a</span>
                    </label>
                </div>
            </div>
            <div class="enviar">
                <button>Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}



{% block script %}
    <!--  -->
{% endblock %}
