{% extends 'tuestilo/base.html' %}

{% block title %}
    > Registrar
{% endblock %}

{% block styles %}
    <style>
        .register-form {
            display: flex;
            justify-items: center;
            align-items: cen;
            margin-top: 32vh;
            margin-left: 40%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="register-form">
        <form action="" method="post">
            {% csrf_token %}
            Usuario: <br><input type="text" name="username">
            <br>
            Contraseña: <br><input type="password" name="password">
            <br><br>
            <br>
            <button type="submit">Iniciar sesion</button>
        </form>
    </div>
{% endblock %}
