/* Fuentes externas importadas al archivo .css */

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

/* Estilo para todos los contenidos de todos los .html */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    user-select: none;
}

/* Estilo para la etiqueta <body> de todos los .html */

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;
    background-color: #ffffff;
}

/*  -----------------------------------  */
/*             navbar styles */
/*  -----------------------------------  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 5px 10%;
    margin: auto;
    position: fixed;
    top:0;
    z-index: 999;
    transition: 0.6s;
}

header .logo h1 {
  color: #000000;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  margin: auto;
  transition: 0.6s;
  padding: 5px;
}

header .logo h1:hover {
  transform: scale(1.05);
}

header .nav-links {
  list-style: none;
  margin-top: 20px;
}

header .nav-links li {
  display: inline-block;
  margin: auto;
  padding: 0 20px;
}

header .nav-links a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  transition:  0.6s;
  padding: 5px;
}

header .nav-links a:hover {
  color: #000000;
}

.bi {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  fill: rgb(0, 0, 0);
  transition: 0.6s;
  transform: scale(1.1);
}

/* ------------------- */
  /* Login button */
/* ------------------- */

.center {
  width: 150px;
  height: 50px;
  position: relative;
}

.btn-login {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  outline: none;
  transition: 0.6s ease-in-out;
}

.svg-login {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-login:hover {
  transition: 1s ease-in-out;
  background: #ffffff77;
}

.btn-login:hover .svg-login {
  stroke-dashoffset: -480;
}

/* ------------------- */
  /* Logout button */
/* ------------------- */

.btn-logout {
--black: #000000;
--ch-black: #141414;
--eer-black: #1b1b1b;
--night-rider: #2e2e2e;
--white: #ffffff;
--af-white: #f3f3f3;
--ch-white: #e1e1e1;
display: flex;
align-items: center;
justify-content: flex-start;
position: absolute;
margin-left: 120px;
width: 45px;
height: 45px;
border: none;
border-radius: 5px;
cursor: pointer;
position: relative;
overflow: hidden;
transition-duration: .3s;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
background-color: var(--night-rider);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}

/* texto */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.btn-logout:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: 0.6s;
}

.btn-logout:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.btn-logout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.btn-logout:active {
  transform: scale(1.1);
}

.menu-nav {
    display: none;
}

/*  ----------------------  */
  /* Responsive navbar */
/*  ----------------------  */

header a {
  text-decoration: none;
}

header .overlay {
  overflow: hidden;
  position: fixed;
  height: 100%;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

header .overlay .overlay-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header .overlay .overlay-content h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 40px;
  color: aliceblue;
  margin-bottom: 20px;
}

header .overlay .overlay-content hr {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
}

header .overlay .menu-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

header .overlay .overlay-links {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 200;
  transition: 0.4s;
  opacity: 0.8;
}

header .overlay .overlay-links:hover {
  transform: scale(1.1);
  opacity: 1;
}

header .overlay .social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

header .overlay .social-icon {
  display: flex; /* Cambiamos a flex para centrar vertical y horizontalmente */
  align-items: center; /* Centramos verticalmente */
  justify-content: center; /* Centramos horizontalmente */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  margin: 0 12px;
}

header .overlay .social-icon i {
  font-size: 24px;
  color: aliceblue;
}

header .overlay .social-icon:hover {
  transform: translateY(-10px);
  background-color: rgba(0, 255, 149, 0.4);
}

.close {
  position: absolute;
  color: white;
  top: 20px;
  right: 45px;
  font-size: 65px;
  transition: all 0.3s;
  cursor: pointer;
}

.close:hover {
  transform: scale(1.2);
}

/* ------------------- */
/*    Sticky navbar */
/* ------------------- */

header.sticky {
  background-color: #000000;
  height: 65px;
  z-index: 998; 
}

header.sticky .logo h1 {
  font-weight: 800;
  color: rgba(255, 255, 255);
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0);
}

header.sticky .logo h1:hover {
  opacity: 1;
  transform: scale(1.05);
}

header.sticky .nav-links a {
  font-weight: 200;
  color: white;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0);
}

header.sticky .nav-links a:hover {
  opacity: 1;
  border: 1px solid white;
}

header.sticky .btn-login {
  opacity: 0.5;
  color: white;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
}

header.sticky .btn-login:hover {
  opacity: 1;
  background: transparent;
}

header.sticky .bi {
  background-color: rgba(255, 255, 255, 0);
  fill: white;
  opacity: 1;
}

header.sticky .btn-logout {
  opacity: 0.8;
  --black: #ffffff;
  --ch-black: #f3f3f3;
  --eer-black: #e1e1e1;
  --night-rider: #e1e1e1;
  --white: #141414;
  --af-white: #1b1b1b;
  --ch-white: #2e2e2e;
}

header.sticky .btn-logout:hover {
  opacity: 1;
  --black: #ffffff;
  --ch-black: #ffffff;
  --eer-black: #ffffff;
  --night-rider: #ffffff;
  --white: #141414;
  --af-white: #1b1b1b;
  --ch-white: #2e2e2e;
}

/*  ------------------ */
     /*  contents */
/*  ----------------- */

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.carousel-text h1 {
  display: inline-block;
  color: #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 40px;
  font-size: 6dvw;
  font-weight: bold;
}

.post-carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #fff;
  max-width: 100%;
  height: 75vh;
}

.post-carousel .child-1 {
  border: 1px solid black;
  max-width: 620px;
  width: 620px;
  height: 620px;
}

.post-carousel .child-2 {
  border: 1px solid black;
  width: 420px;
  height: 620px;
}

/* Estilos para el formulario */

.card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
}

.form-group {
  margin: 15px;
}

.form-group label {
  font-family: monospace;
  margin-bottom: 10px;
}


/*  INPUTS  */


/* ------------------------------------- */
/*                Footer */
/* ------------------------------------- */

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  color: #ffffff;
  background-color: #000000;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  text-transform: none;
  font-size: 2.5rem;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__addr h1 {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__title {
  font-weight: 400;
  font-size: 20px;
}

.nav__ul {
  list-style: none;
  padding-left: 0;
}

.nav__ul a {
  color: #999;
  text-decoration: none;
}

.legal {
  display: flex;
  justify-content: center;
  color: #999;
  text-align: center;
  margin-top: 50px;
}

/* ------------------------------------- */
/*             Media querys */
/* ------------------------------------- */

@media screen and (min-width: 40.375em) {
  .footer__nav {
    flex: 2;
  }
  
  .nav__item {
    flex: 1;
  }
  
  .footer__addr {
    flex: 1;
  }
}

@media screen and (max-width: 1400px) {
  .btn-logout {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1280px) {
  header .nav-links a {
    font-size: smaller;
    padding: 0;
  }

  header .logo h1 {
    font-size: 30px;
  }

  .btn-logout {
    margin-left: 0;
  }
}

@media screen and (max-width: 1100px) {
  .nav-links, .nav-button {
      display: none;
  }
  .center {
      display: none;
  }

  .btn-logout {
      display: none;
  }

  .menu-nav {
      display: inherit;
  }

  header .logo h1 {
      font-size: 2rem;
  }

}

@media screen and (max-height:450px) {
    header .overlay {
        font-size: 20px;
    }
    
    header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}