{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TU ESTILO {% block title %}> Inicio{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css'>

    {% block styles %}
    {% endblock %}

  </head>
  <body>
    <header>
        <div class="logo">
            <a class="nav-logo" href="{% url 'base' %}"><h1>TU ESTILO</h1></a>
        </div>
        <nav>
          <ul class="nav-links">
            <li>
                <a href="{% url 'info' %}" id="about">ACERCA DE</a>
            </li>
            <li>
                <a href="{% url 'catalogo' %}" id="catalog">CATALOGO</a>
            </li>
            <li>
                <a href="{% url 'contacto' %}" id="contact">CONTACTO</a>
            </li>
            <li>
                <a href="{% url 'carro' %}" id="carro">CARRITO</a>
            </li>
          </ul>
        </nav>
        {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}">
            <button class="btn-logout" style="margin-right: 60px;">
              <div class="sign"><svg viewBox="0 0 512 512">
                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
              <div class="text">Salir</div>
            </button>       
          </a> 
        {% else %}
          <a href="{% url 'login' %}" style="margin-left: 40px;">
            <div class="center">
              <button class="btn-login">
                <svg viewBox="0 0 150 50" height="50px" width="150px" class="svg-login">
                  <polyline class="bg-line" points="149,1 149,49 1,49 1,1 149,1"></polyline>
                  <polyline class="hl-line" points="149,1 149,49 1,49 1,1 149,1"></polyline>
                </svg>
                INICIAR SESIÓN
              </button>
            </div>
          </a>
        {% endif %}

        <a onclick="openNav()" class="menu-nav" style="cursor: pointer; ">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
        </a>
        
        <div class="overlay" id="mobile-menu">
          <p onclick="closeNav()" class="close">&times;</p>
          <div class="overlay-content">
            <h1>YOUR STYLE</h1>
            <hr>
            <div class="menu-links">
              <a href="{% url 'carro' %}" class="overlay-links">Carrito</a>
              <a href="{% url 'catalogo' %}" class="overlay-links">Catálogo</a>
              <a href="{% url 'contacto' %}" class="overlay-links">Contacto</a>
              <a href="{% url 'info' %}" class="overlay-links">Acerca de</a>
              {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="overlay-links">Cerrar sesión</a>
              {% else %}
                <a href="{% url 'login' %}" class="overlay-links">Iniciar sesión</a>
              {% endif %}
            </div>
            <hr>
            <div class="social-links">
              <a href="https://www.facebook.com/DuocUC/?locale=es_LA" target="_blank" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://x.com/DuocUC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="social-icon">
                <i class="fi fi-brands-twitter-alt" style="margin-top: 5px;"></i>
              </a>
              <a href="https://www.instagram.com/duoc_vina/" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>        
    </header>
  
    {% block content %}

    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/bg-carousel-1.jpg' %}" style="object-fit: cover; height: 100vh;">
<!--               <div class="carousel-text d-none d-md-block">
            <h1>YOUR STYLE</h1>
          </div> -->
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/bg-carousel-2.jpg' %}" style="object-fit: cover; height: 100vh;">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/bg-carousel-3.jpg' %}" style="object-fit: cover; height: 100vh;">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/bg-carousel-4.jpg' %}" style="object-fit: cover; height: 100vh;">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/bg-carousel-5.jpg' %}" style="object-fit: cover; height: 100vh;">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/bg-carousel-6.jpg' %}" style="object-fit: cover; height: 100vh;">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/bg-carousel-7.jpg' %}" style="object-fit: cover; height: 100vh;">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/bg-carousel-8.jpg' %}" style="object-fit: cover; height: 100vh;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="post-carousel">
       <section class="child-1">
          <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active" data-title="" data-description="">
                <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/promo-carousel-1.jpg' %}">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item" data-title="Título para la imagen 2" data-description="Descripción para la imagen 2">
                  <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/promo-carousel-2.jpg' %}">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>
              <div class="carousel-item" data-title="Título para la imagen 3" data-description="Descripción para la imagen 3">
                  <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-fluid" src="{% static 'img/carousel-img/promo-carousel-3.jpg' %}">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
              </div>
            </div>
          </div>
       </section>
       <section class="child-2">
        <h1>Texto de prueba, si, prueba.</h1>
        <p>Texto de prueba, si, prueba., chacana culiao te odio
          :v :V :v, si, okasd,s diasaklskasfalsska,. asfksaflsa 
          kfasfkakfalakfsaf asflfasklakaalla safkl lasfakfsaflk
          kfaslfaksalas aslfsalfalasfkaskaf asflsakaakflaslfasl
        </p>
      </section>
    </div>

    {% endblock %}

    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">Tu estilo</h1>
      </div>
      
      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Opciones de navegacion</h2>
          <ul class="nav__ul">
            <li>
              <a href="{% url 'info' %}">Acerca de</a>
            </li>
            <li>
              <a href="{% url 'catalogo' %}">Catalogo</a>
            </li>
            <li>
              <a href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li>
              <a href="{% url 'carro' %}">Carro de compras</a>
            </li>
            <br>
          </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">Legalidad</h2>
          <ul class="nav__ul">
            <li>
              <a href="#">Política de privacidad</a>
            </li>
            
            <li>
              <a href="#">Condiciones de uso</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="legal">
        <p>&copy; 2024 TU ESTILO. Todos los derechos reservados.</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
       $(document).ready(function() {
          $('#carouselExampleCaptions').on('slid.bs.carousel', function (event) {
             var slideIndex = $(this).find('.carousel-item.active').index();
             var titleToShow = $(this).find('.carousel-item').eq(slideIndex).data('title');
             var descriptionToShow = $(this).find('.carousel-item').eq(slideIndex).data('description');
             $('.child-2 h1').text(titleToShow);
             $('.child-2 p').text(descriptionToShow);
          });
       });
    </script>    
    
    <script type="text/javascript">
      window.addEventListener("scroll", function(){
          let header = document.querySelector("header");

          header.classList.toggle("sticky", window.scrollY > 0)
      })
    </script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>