{% extends 'tuestilo/base.html' %}
{% load static %}

{% block title %}
   > Carro
{% endblock %}

{% block styles %}
<style>
   body{
      margin-top:16vh;
      margin-bottom: 16vh;
      background-color: #f1f3f7;
  }
  
  .avatar-lg {
      height: 5rem;
      width: 5rem;
  }
  
  .font-size-18 {
      font-size: 18px!important;
  }
  
  .text-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  
  a {
      text-decoration: none!important;
  }
  
  .w-xl {
      min-width: 160px;
  }
  
  .card {
      margin-bottom: 24px;
      -webkit-box-shadow: 0 2px 3px #e4e8f0;
      box-shadow: 0 2px 3px #e4e8f0;
  }
  
  .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #eff0f2;
      border-radius: 1rem;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
   <div class="row">
       <div class="col-xl-8">
           <div class="card border shadow-none">
               <div class="card-body">

                   <div class="d-flex align-items-start border-bottom pb-3">
                       <div class="me-4">
                           <img src="{% static 'img/catalogo/cat-1.jpg' %}" alt="" class="avatar-lg rounded">
                       </div>
                       <div class="flex-grow-1 align-self-center overflow-hidden">
                           <div>
                               <h5 class="text-truncate font-size-18"><a href="#" class="text-dark">Poleron negro XL</a></h5>
                               <p class="text-muted mb-0">
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star-half text-warning"></i>
                               </p>
                               <p class="mb-0 mt-1">Color : <span class="fw-medium"></span></p>
                           </div>
                       </div>
                       <div class="flex-shrink-0 ms-2">
                           <ul class="list-inline mb-0 font-size-16">
                               <li class="list-inline-item">
                                   <a href="#" class="text-muted px-1">
                                       <i class="mdi mdi-trash-can-outline"></i>
                                   </a>
                               </li>
                               <li class="list-inline-item">
                                   <a href="#" class="text-muted px-1">
                                       <i class="mdi mdi-heart-outline"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>

                   <div>
                       <div class="row">
                           <div class="col-md-4">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Precio</p>
                                   <h5 class="mb-0 mt-2"><span class="text-muted me-2"><del class="font-size-16 fw-normal">CLP 999999/del></span>CLP 999999</h5>
                               </div>
                           </div>
                           <div class="col-md-5">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Cantidad</p>
                                   <div class="d-inline-flex">
                                       <select class="form-select form-select-sm w-xl">
                                           <option value="1">1</option>
                                           <option value="2" selected="">2</option>
                                           <option value="3">3</option>
                                           <option value="4">4</option>
                                           <option value="5">5</option>
                                           <option value="6">6</option>
                                           <option value="7">7</option>
                                           <option value="8">8</option>
                                       </select>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Total</p>
                                   <h5>$9999999</h5>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
           <div class="card border shadow-none">
               <div class="card-body">

                   <div class="d-flex align-items-start border-bottom pb-3">
                       <div class="me-4">
                           <img src="{% static 'img/catalogo/cat-2.jpg' %}" alt="" class="avatar-lg rounded">
                       </div>
                       <div class="flex-grow-1 align-self-center overflow-hidden">
                           <div>
                               <h5 class="text-truncate font-size-18"><a href="#" class="text-dark">Poleron negro XL</a></h5>
                               <p class="text-muted mb-0">
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star-half text-warning"></i>
                               </p>
                               <p class="mb-0 mt-1">Color : <span class="fw-medium"></span></p>
                           </div>
                       </div>
                       <div class="flex-shrink-0 ms-2">
                           <ul class="list-inline mb-0 font-size-16">
                               <li class="list-inline-item">
                                   <a href="#" class="text-muted px-1">
                                       <i class="mdi mdi-trash-can-outline"></i>
                                   </a>
                               </li>
                               <li class="list-inline-item">
                                   <a href="#" class="text-muted px-1">
                                       <i class="mdi mdi-heart-outline"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>

                   <div>
                       <div class="row">
                           <div class="col-md-4">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Precio</p>
                                   <h5 class="mb-0 mt-2"><span class="text-muted me-2"><del class="font-size-16 fw-normal">CLP 999999/del></span>CLP 999999</h5>
                               </div>
                           </div>
                           <div class="col-md-5">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Cantidad</p>
                                   <div class="d-inline-flex">
                                       <select class="form-select form-select-sm w-xl">
                                           <option value="1">1</option>
                                           <option value="2" selected="">2</option>
                                           <option value="3">3</option>
                                           <option value="4">4</option>
                                           <option value="5">5</option>
                                           <option value="6">6</option>
                                           <option value="7">7</option>
                                           <option value="8">8</option>
                                       </select>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Total</p>
                                   <h5>$9999999</h5>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
           <div class="card border shadow-none">
               <div class="card-body">

                   <div class="d-flex align-items-start border-bottom pb-3">
                       <div class="me-4">
                           <img src="{% static 'img/catalogo/cat-3.jpg' %}" alt="" class="avatar-lg rounded">
                       </div>
                       <div class="flex-grow-1 align-self-center overflow-hidden">
                           <div>
                               <h5 class="text-truncate font-size-18"><a href="#" class="text-dark">Poleron negro XL</a></h5>
                               <p class="text-muted mb-0">
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star text-warning"></i>
                                   <i class="bx bxs-star-half text-warning"></i>
                               </p>
                               <p class="mb-0 mt-1">Color : <span class="fw-medium"></span></p>
                           </div>
                       </div>
                       <div class="flex-shrink-0 ms-2">
                           <ul class="list-inline mb-0 font-size-16">
                               <li class="list-inline-item">
                                   <a href="#" class="text-muted px-1">
                                       <i class="mdi mdi-trash-can-outline"></i>
                                   </a>
                               </li>
                               <li class="list-inline-item">
                                   <a href="#" class="text-muted px-1">
                                       <i class="mdi mdi-heart-outline"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>

                   <div>
                       <div class="row">
                           <div class="col-md-4">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Precio</p>
                                   <h5 class="mb-0 mt-2"><span class="text-muted me-2"><del class="font-size-16 fw-normal">CLP 999999/del></span>CLP 999999</h5>
                               </div>
                           </div>
                           <div class="col-md-5">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Cantidad</p>
                                   <div class="d-inline-flex">
                                       <select class="form-select form-select-sm w-xl">
                                           <option value="1">1</option>
                                           <option value="2" selected="">2</option>
                                           <option value="3">3</option>
                                           <option value="4">4</option>
                                           <option value="5">5</option>
                                           <option value="6">6</option>
                                           <option value="7">7</option>
                                           <option value="8">8</option>
                                       </select>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="mt-3">
                                   <p class="text-muted mb-2">Total</p>
                                   <h5>$9999999</h5>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
           <!-- end card -->

           <div class="row my-4">
               <div class="col-sm-6">
                   <a href="{% url 'catalogo' %}" class="btn btn-link text-muted">
                       <i class="mdi mdi-arrow-left me-1"></i> Seguir comprando </a>
               </div> <!-- end col -->
               <div class="col-sm-6">
                   <div class="text-sm-end mt-2 mt-sm-0">
                       <a href="#" class="btn btn-success">
                           <i class="mdi mdi-cart-outline me-1"></i> Comprar </a>
                   </div>
               </div> <!-- end col -->
           </div> <!-- end row-->
       </div>

       <div class="col-xl-4">
           <div class="mt-5 mt-lg-0">
               <div class="card border shadow-none">
                   <div class="card-header bg-transparent border-bottom py-3 px-4">
                       <h5 class="font-size-16 mb-0">Numero de orden <span class="float-end">#MN0124</span></h5>
                   </div>
                   <div class="card-body p-4 pt-2">

                       <div class="table-responsive">
                           <table class="table mb-0">
                               <tbody>
                                   <tr>
                                       <td>Sub Total :</td>
                                       <td class="text-end">CLP 999999</td>
                                   </tr>
                                   <tr>
                                       <td>Descuento : </td>
                                       <td class="text-end">- 65%</td>
                                   </tr>
                                   <tr>
                                       <td>Cargo de la compra :</td>
                                       <td class="text-end">CLP 999999</td>
                                   </tr>
                                   <tr>
                                       <td>Impuestos : </td>
                                       <td class="text-end">CLP 999999</td>
                                   </tr>
                                   <tr class="bg-light">
                                       <th>Total :</th>
                                       <td class="text-end">
                                           <span class="fw-bold">
                                             CLP 999999
                                           </span>
                                       </td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- end row -->
   
</div>

{% endblock %}