{% extends 'tuestilo/base.html' %}

{% block title %}
   > Carro
{% endblock %}

{% block styles %}
    <style>
        .administrator {
            display: grid;
            justify-content: center;
            margin-top: 32vh;
            margin-bottom: 42vh;
        }

        .administrator h1 {
            text-align: center;
            font-size: 5dvh;
        }

        .administrator table {
            margin-top: 50px;
            border: 1px solid black;
        }

        .administrator table th {
            border: 1px solid black;
            padding: 5px;
        }

        .administrator table td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="administrator">
    <h1>Informacion de administrador</h1>
    <table>
        <tr>
          <th>Nombre de usuario</th>
          <th>Primer nombre</th>
          <th>Segundo nombre</th>
          <th>Correo electronico</th>
          <th style="color: red;">Modificar</th>
          <th style="color: red;">Eliminar</th>
        </tr>
        <tr>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td><a href="#">Modificar</a></td>
          <td><a href="#">Eliminar</a></td>
        </tr>
      </table>
</div>
{% endblock %}